<div class="mic-selector">
  <ion-item lines="none">
    <ion-icon name="mic-outline" slot="start"></ion-icon>
    <ion-label>Entrada</ion-label>
    <ion-spinner *ngIf="loading" name="dots" slot="end"></ion-spinner>
    <ion-select
      *ngIf="!loading"
      interface="popover"
      [value]="selectedId"
      [disabled]="devices.length === 0"
      (ionChange)="selectDevice($any($event.detail.value))"
      placeholder="Micrófono">
      <ion-select-option *ngFor="let device of devices" [value]="device.id">
        {{ device.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p *ngIf="!loading && errorMessage" class="error-text">{{ errorMessage }}</p>
</div>
